@import "tailwindcss";

:root {
  --background: #fffdfa;
  --foreground: #1c1917;
  --primary: #f97316;
  --secondary: #ffedd5;
  --muted: #f5f5f4;
  --accent: #84cc16;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
  --color-accent: var(--accent);

  --font-sans: var(--font-outfit);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c0a09;
    --foreground: #fafaf9;
    --primary: #fb923c;
    --secondary: #292524;
    --muted: #1c1917;
    --accent: #a3e635;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}
